

@media only screen and (max-width: 1600px)
{
	
}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{
	
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{
	
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.deo_cat_menu_container
	{
		width: 211px;
		padding-left: 25px;
	}
	.deo_main_nav_dropdown li
	{
		margin-right: 30px;
	}
	.deo_main_nav_dropdown li a
	{
		font-size: 16px;
	}
	.char_item
	{
		padding-left: 25px;
	}
	.product_description
	{
		padding-left: 30px;
	}
	.image_list li
	{
		height: 130px;
	}
	.image_selected
	{
		height: 420px;
	}
	.product_quantity,
	.product_color
	{
		width: 162px;
	}
	.product_price
	{
		margin-top: 60px;
	}
	.button_container
	{
		margin-top: 38px;
	}
	.newsletter_form
	{
		width: 456px;
	}
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{
	
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
	
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	.top_bar
	{
		/*display: none;*/
	}
	.header_search
	{
		height: 50px;
	}
	.deo_custom_dropdown
	{
		text-align: left;
	}
	.deo_main_nav
	{
		margin-top: 56px;
	}
	.deo_main_nav_menu
	{
		display: none;
	}
	.logo_container,
	.wishlist_cart
	{
		height: 125px;
	}
	.deo_main_nav_content
	{
		background: #f42c38;
	}
	.deo_menu_trigger_container
	{
		display: block;
	}
	.top_bar
	{
		height: 40px;
	}
	
	.deo_cat_menu_container ul
	{
		visibility: hidden;
		opacity: 0;
	}
	
@media only screen and (max-width: 767px)
{
	.header_search
	{
		display: none;
	}
	.deo_page_menu_search
	{
		display: block;
	}
	.deo_main_nav
	{
		margin-top: 0px;
	}
	.banner_product_image
	{
		opacity: 0.5;
		width: 60vw;
	    top: 50%;
	    -webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	
@media only screen and (max-width: 575px)
{
	h2{font-size: 24px;}
	p{font-size: 13px;}
	.top_bar
	{
		display: none;
	}
	.logo_container, .wishlist_cart
	{
		height: 72px;
	}
	.logo a
	{
		font-size: 24px;
	}
	.deo_cat_menu_container
	{
		width: auto;
		padding-right: 15px;
	}
	.deo_cat_menu_text
	{
		font-size: 13px;
		margin-left: 12px;
	}
	.deo_line
	{
	    width: 16px;
	    height: 12px;
	}
	.deo_line span:nth-child(2)
	{
		top: 5px;
	}
	.deo_line span:nth-child(3)
	{
		top: 10px;
	}
	.deo_menu_trigger_text
	{
		font-size: 13px;
		margin-right: 10px;
	}
	
	.deo_main_nav
	{
		width: calc(100% + 30px);
		margin-left: -15px;
		margin-right: -15px;
		margin-top: 0px;
	}
	.mg_left
{
	margin-left: 0px;
}
	.deo_main_nav_content
	{
		height: 35px;
	}
	.deo_cat_menu_container
	{
		padding-left: 15px;
	}
	.deo_menu_trigger_container
	{
		padding-right: 15px;
	}
	.deo_cat_menu li
	{
		height: 36px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.deo_cat_menu li a
	{
		font-size: 13px;
		line-height: 36px;
	}
	.deo_cat_menu li ul
	{
		left: 50%;
		z-index: 10;
	}
	.deo_page_menu_item > a
	{
		font-size: 12px;
	}
	.deo_page_menu_selection li a
	{
		font-size: 12px;
	}


/************
11. 539px
************/

@media only screen and (max-width: 539px)
{
	
}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{
	.product_item
	{
		width: 50%;
	}
}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{
	
}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{
	
}